/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.traffic-container .traffic-pole {
    border: 1px solid black;
    background-color: black;
    height: 170px;
    width: 16px;
}

.traffic-container .traffic-light {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.traffic-container .traffic-light>div {
    height: 80px;
    width: 80px;
    border-radius: 100%;

}

.light-red {
    background-color: red;
}

.light-yellow {
    background-color: yellow;
}

.light-green {
    background-color: green;
}

.light-purple {
    background-color: purple;
}

.on {
    opacity: .7;
    box-shadow: 0px 0px 31px 35px rgba(255, 253, 87, 1);
}